<?xml version="1.0"?>
<launch>
	<include file="$(find chesslab_setup)/launch/dashboard.launch.xml">
		<arg name="show_rviz" value="true" />

		<arg name="cameras_enabled" default="true" />
		<arg name="team_A_enabled" value="true" />
		<arg name="team_B_enabled" value="true" />

		<arg name="load_cam_calib" value="true" />

		<arg name="load_real" value="true" />
	</include>
</launch>
